# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory/

# Virtual environments
*venv/
ENV/
env/
.venv/

# IDE/editor files
.idea/
.vscode/

# MacOS system files
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# Django specific files
db.sqlite3
*.log
*.pot
*.pyc

# Static files
/static/
/media/

# User-specific files
*.env
*.local

# Django migrations
*/migrations/*

# Django secret key
.secret_key/

# Logs
npm-debug.log*

# React build files
src/react/build/
src/react/dist/

# Node.js
src/react/node_modules/

# Test and coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# PowerPoint specific
~$*
*.tmp
*.bak
*.pptx~
*.ppt~

# Microsoft Word specific
~$*
*.tmp
*.bak
*.docx~
*.doc~
*.swp
*.swo

# PostgreSQL specific files
*.log
*.sql
*.bak

# Database dumps
*.dump

# Temporary files
*.tmp
*.swp
