@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #00bcd4;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 15px;

    border-radius: 30px;
    width: 75%;
    margin: 10px auto;

    animation: shrink-nav 0.75s ease-in-out;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

nav ul li {
    padding: 0.5rem 1rem;
    transition: padding 0.3s ease-in-out;
}

nav ul li:hover {
    padding: 0.5rem 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: calc(10px + 2vh);
    font-weight: 600;
    padding: 1rem;
}

nav ul li.right {
    float: right;
}

nav ul li a:hover {
    color: #ff5722;
}

nav ul li:not(:last-child)::after {
    content: '/';
    color: white;
    margin-left: 5px;
}

/* For mobile, swtich to column layout and remove seperators */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li:not(:last-child)::after {
        content: '';

    }

    p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .chart-container {
        width: 100%;
        max-width: 600px;
        height: 350px;
        background-color: #333;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #fff;
        margin: 0 auto;
    }
}

.chart-container {
    width: 700px;
    height: 450px;
    background-color: #444;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 65ch;
    margin: 0 auto;
}

hr {
    border: none;
    height: 3px;
    background: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    width: 70%;
    margin: auto;
    border-radius: 30%;
}

div {
    padding: 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    border: 4px solid green;
    border-radius: 20%;
    padding: 20px;
    text-align: center;
    max-width: 200px;

    flex: 1 1 200px;

    background-color: #444;
}

.input-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
}

.product-list li {
    padding: 10px;
    border: 1px solid black;
    margin: 5px 0;
    border-radius: 20px;

    font-weight: 700;
    color: white;
    background-color: #444;
}

.product-list li:hover {
    background-color: white;
    color: #444;

    animation: grow 0.3s ease-in-out;
}

@keyframes grow {
    50% {
        transform: scale(1.05);
    }
}

@keyframes shrink-nav {
    0% {
        width: 100%;
    }

    100% {
        width: 75%;
    }
}

@keyframes spread-nav {
    0% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}