<!---
-------------------------------------------------------------------------------
Program:    home.html
Author:     Jeffrey Saylor
Date:       02/12/2025
Language:   html
Purpose:    The purpose of this code is to display the basic home page
-------------------------------------------------------------------------------
Change Log:
Who  When           What
JQS  02/12/2025     Created a simple html home page for an example.
-------------------------------------------------------------------------------
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>
